- var activeClass = 'active'

header(role='banner')
	.container-padding
		nav
			a(href="/") Positivecrash
			a(href="/") CSS анимации
			a(href="/") Web рецепты
			a(href="/") Поиски себя

		// section#nav-header.nav-wrapper
		// 	.nav-inner
		// 		.nav-content
		// 			nav.nav-g
		// 				if active == "about"
		// 					a(href="#", class=activeClass) über Mich
		// 				else
		// 					a(href="#") über Mich
						
		// 				if active == "price"
		// 					a(href="#", class=activeClass) Preise
		// 				else
		// 					a(href="#") Preise

		// 				if active == "gift"
		// 					a(href="#", class=activeClass) Geschenkgutscheine & Sonderangebote
		// 				else
		// 					a(href="#") Geschenkgutscheine & Sonderangebote

		// 				if active == "tips"
		// 					a(href="#", class=activeClass) Fotoshootings Tipps
		// 				else
		// 					a(href="#") Fotoshootings Tipps

		// 				if active == "contact"
		// 					a(href="#", class=activeClass) Kontakt
		// 				else
		// 					a(href="#") Kontakt